.image-home {
  width: 300px;
}

.top-home {
  display: flex;
  justify-content: space-evenly;
}

.font-top {
  font-size: 24px;
  font-weight: bolder;
}

.middle-home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.event-home {
  display: flex;
  flex-direction: row;
}
.image-event {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.star-rating input {
  display: none;
}
.star-rating > label {
  width: 30px;
  height: 30px;
  font-family: Verdana;
  font-size: 30px;
  color: orange;
}
.star-rating label::before {
  content: "\2606";
  position: absolute;
  top: 0px;
  line-height: 26px;
}
